@import "tailwindcss";

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #0694f9;
  --color-background-light: #f5f7f8;
  --color-background-dark: #0f1b23;

  /* Font */
  --font-display: Inter;

  /* Border radius */
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}



@keyframes slide-in {
  0% { transform: translateX(100%); opacity: 0 }
  100% { transform: translateX(0); opacity: 1 }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}


